@model TravelDigiatlPoint.Models.Rota

@{
    ViewData["Title"] = "Editar Rota";
}

<h3>Editar Rota</h3>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Origem" class="control-label"></label>
        <input asp-for="Origem" class="form-control" />
        <span asp-validation-for="Origem" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Destino" class="control-label"></label>
        <input asp-for="Destino" class="form-control" />
        <span asp-validation-for="Destino" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FuncionarioId" class="control-label"></label>
        <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
    </div>

    <div class="form-group">
        <label asp-for="VeiculoId" class="control-label"></label>
        <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.VeiculoId"></select>
    </div>

    <div class="form-group">
        <label asp-for="DataHoraPartida" class="control-label"></label>
        <input asp-for="DataHoraPartida" class="form-control" />
        <span asp-validation-for="DataHoraPartida" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataHoraChegada" class="control-label"></label>
        <input asp-for="DataHoraChegada" class="form-control" />
        <span asp-validation-for="DataHoraChegada" class="text-danger"></span>
    </div>

    @* <div class="form-group">
        <label class="control-label">Houve danos ao veiculo?</label>
        <br />
        <label class="form-check-label" style="padding-left: 20px">
            <input class="form-check-input" asp-for="FlDanos" /> @Html.DisplayNameFor(model => model.FlDanos)
        </label>
    </div>

    <div class="form-group">
        <label asp-for="ObservacaoMotorista" class="control-label"></label>
        <input asp-for="ObservacaoMotorista" class="form-control" />
        <span asp-validation-for="ObservacaoMotorista" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-outline-info">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
